$tablet-min-width: 750px;
$desctop-first-width: 1000px;
$content-width: 200px;

$desctop-big-width: 1500px;
$rank-background-color: #ffffff;
$rank-color: #8b0000;
$text-color: #2f4f4f;
$text-name-size: 20px;
$hover-content-with: 264px;
$hover-background: #eeeeee;
